@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=M+PLUS+Rounded+1c&display=swap');
@import "tailwindcss";

* {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
}
